<mat-drawer-container class="container mat-elevation-z8">
  <img src="../../../assets/library-book.svg" alt="book">
  <br>

   <button class="home-button" mat-button color="primary">
    <mat-icon>home</mat-icon>
    Início
  </button>
  <br>

  <button class="home-button" mat-button color="primary">
    <mat-icon>person</mat-icon>
    Usuários
  </button>
  <br>

  <button class="home-button" mat-button color="primary">
    <mat-icon>assignment_ind</mat-icon>
    Autores
  </button>
  <br>

  <button class="home-button" mat-button color="primary">
    <mat-icon>assignment</mat-icon>
    Editoras
  </button>
  <br>

  <button class="home-button" mat-button color="primary">
    <mat-icon>library_books</mat-icon>
    Livros
  </button>
  <br>
  
</mat-drawer-container>